.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular-italic {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: italic;
}

div {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

.post {
    display: grid;
    grid-template-areas: "a a d"
        "b b c"
        "b b c";
}

.post-bot {
    grid-area: b;
}

.post-top {
    grid-area: a;
}

.post-comments {
    grid-area: c;
}